body{ padding:0; margin:0;}

.baner_outer{ width:100%; overflow:hidden; background:#ffffff; padding:5px; border-radius:5px;}
.flex-direction-nav{ display:block;}


@media only screen and (max-width:768px){
.baner_outer{ width:100%; overflow:hidden;}	
	
	}
















